/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET ------------------------------------------------------------------------- */

@keyframes flicker {
    0% {
        opacity: 0.37861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.80626;
    }

    20% {
        opacity: 0.38128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.36559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.86019;
    }

    55% {
        opacity: 0.38594;
    }

    60% {
        opacity: 0.30313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.34387;
    }
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 5px, 10px 100%;
    pointer-events: none;
    animation: flicker 0.05s infinite;
}

:root {
    --section-body-width: 80vw;
    --screen-width: 100vw;
    --screen-height: 100vh;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

.hidden {
    visibility: hidden !important;
}

.no-display {
    display: none !important;
}

#player {
    --player-size: 50px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    border-radius: 25%;
    z-index: 2;
    width: var(--player-size);
    height: var(--player-size);
    transform: rotateY(0deg);
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.animation-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    image-rendering: pixelated;
}

.config {
    display: none;
}

#viewport {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
    outline: 2px red solid;
    outline-offset: -2px;
}

.level {
    position: relative;
    display: grid;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid */
}

.screen {
    width: var(--screen-width);
    height: var(--screen-height);
    background-image: url("../img/underground_BG.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    /* outline: yellow 2px solid; */
    background-color: cadetblue;
}


.wall {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    outline-offset: -1px;
    user-select: none;
    image-rendering: pixelated;
    background-image: url("../img/stone-no-edge.png");
    background-size: 50px;
    background-position: top left;
}

.pipe {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc(100% - var(--size));
    right: 40px;
    background-image: url("../img/pipe.png");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}


.floor {
    --height: 50px;
    position: absolute;
    top: calc(100% - var(--height));
    left: 50%;
    transform: translateX(-50%);
    height: var(--height);
    width: 100%;
    background-image: url("../img/stone-edge-hori.png");
    background-size: contain;
    background-position: top left;
    image-rendering: pixelated;
}

#floor-3 {
    transform: translateX(0);
    right: 0;
    left: initial;
    width: 30%;
    outline: 2px solid red;
}

#floor-4 {
    transform: translateX(0);
    left: 0;
    left: initial;
    width: 52%;
    outline: 2px solid red;
}

.ceiling {
    --height: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: var(--height);
    width: 100%;
}

.scroll-edge {
    width: calc(((100vw - var(--section-body-width)) - 10px)/2);
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

#scroll-edge-left {
    left: 0;
}

#scroll-edge-right {
    left: calc((((100vw - var(--section-body-width)) - 10px)/2) + var(--section-body-width));
    width: calc(((100vw - var(--section-body-width)) - 10px)/2 + 10px);
}

#start-cap {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 50px;
    background-image: url("../img/stone-edge-vert.png");
    background-size: contain;
    background-position: top left;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.cap {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 3;
    background-image: url("../img/stone-no-edge.png");
    background-size: contain;
}

#end-cap {
    position: absolute;
    top: 0;
    left: initial;
    right: -5px;
    bottom: 0;
    width: 50px;
    background-image: url("../img/stone-edge-vert.png");
    background-size: contain;
    background-position: top left;
    image-rendering: pixelated;
    transform: rotate(180deg);
}

#pipe-1 {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    background-image: url("../img/pipe.png");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    z-index: 5;
}

#wall-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-image: url("../img/stone-edge-sides.png");
    background-size: contain;
    background-position: top left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wall-2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 350px;
    height: 500px;
}

#wall-3 {
    left: 30%;
    top: 75%;
    transform: translate(-50%, 0%);
    width: 300px;
    height: 200px;
}

#wall-4 {
    left: 75%;
    top: 0%;
    width: 400px;
    height: 600px;
}

.wall>.double-cap {
    height: 100%;
    width: 50px;
    background-image: url("../img/stone-double-corners.png");
    background-size: contain;
    transform: rotate(180deg);
    z-index: 3;
    position: relative;
    right: -10px;
}

.wall>.double-cap:first-of-type {
    transform: rotate(0deg);
    left: -10px;
}

.sign {
    padding: 1rem;
    background-color: rgb(255, 244, 240);
    font-size: 20px;
    line-height: 1.25;
}

#sign-1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}

@keyframes bljitter {
    0% {
        right: 30px;
    }

    100% {
        right: 50px;

    }
}

#img-1 {
    position: absolute;
    right: 40px;
    bottom: 50px;
    animation: bljitter 0.1s infinite;
}

#img-2 {
    position: absolute;
    left: 100px;
    bottom: 45px;
}

#img-3 {
    position: absolute;
    height: 200px;
    top: 50px;
    right: 300px;
    z-index: 2;
}

#img-4 {
    position: absolute;
    height: 500px;
    top: 50px;
    animation: bljitter 0.1s infinite;
}

#img-5 {
    position: absolute;
    /* height: 200px; */
    top: 50px;
    right: 300px;
}

#img-6 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
}

#img-7 {
    position: absolute;
    bottom: 50px;
    right: 75px;
    width: 100px;
}